n8n-workflow/seace-workflow.json
{
  "name": "SEACE-Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        1760
      ],
      "id": "f995ce96-e7bc-4870-a5aa-f78ca924011f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS licitaciones (\n  id SERIAL PRIMARY KEY,\n  numero TEXT,\n  nomenclatura TEXT,\n  entidad TEXT,\n  fecha_publicacion TIMESTAMP,\n  reiniciado_desde TEXT,\n  objeto_de_contratacion TEXT,\n  descripcion TEXT,\n  codigo_snip TEXT,\n  codigo_cui TEXT,\n  monto TEXT,\n  moneda TEXT,\n  version_seace TEXT,\n  departamento TEXT,\n  scraped_at TIMESTAMP DEFAULT NOW()\n  UNIQUE (nomenclatura, entidad, fecha_publicacion)\n);\n\nCREATE TABLE IF NOT EXISTS cronograma (\n  id SERIAL PRIMARY KEY,\n  licitacion_id INTEGER REFERENCES licitaciones(id) ON DELETE CASCADE,\n  etapa TEXT,\n  lugar TEXT,\n  fecha_inicio TEXT,\n  fecha_fin TEXT\n);\n\nCREATE TABLE IF NOT EXISTS documentos (\n  id SERIAL PRIMARY KEY,\n  licitacion_id INTEGER REFERENCES licitaciones(id) ON DELETE CASCADE,\n  nro TEXT,\n  etapa TEXT,\n  documento TEXT,\n  uuid TEXT UNIQUE,\n  filename TEXT,\n  tamanio TEXT,\n  local_path TEXT,\n  page_count INTEGER,\n  file_size_mb NUMERIC(10,2),\n  fecha_publicacion TEXT\n);\n\nCREATE TABLE IF NOT EXISTS convocatoria (\n  id SERIAL PRIMARY KEY,\n  licitacion_id INTEGER REFERENCES licitaciones(id) ON DELETE CASCADE,\n  nomenclatura TEXT,\n  n_convocatoria TEXT,\n  tipo_compra TEXT,\n  normativa TEXT,\n  version_seace TEXT,\n  entidad_convocante TEXT,\n  direccion_legal TEXT,\n  pagina_web TEXT,\n  telefono TEXT,\n  objeto_contratacion TEXT,\n  descripcion_objeto TEXT,\n  monto TEXT,\n  fecha_publicacion TEXT\n);\n\nCREATE TABLE IF NOT EXISTS entidad_contratante (\n  id SERIAL PRIMARY KEY,\n  licitacion_id INTEGER REFERENCES licitaciones(id) ON DELETE CASCADE,\n  ruc TEXT,\n  entidad TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -656,
        848
      ],
      "id": "44bfb513-a65d-4f2b-a039-9652306d8fbe",
      "name": "CREATE TABLES",
      "credentials": {
        "postgres": {
          "id": "FXEG0dQzOuAcjlhc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "licitaciones",
          "mode": "list",
          "cachedResultName": "licitaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.items.numero }}",
            "entidad": "={{ $json.items.entidad }}",
            "nomenclatura": "={{ $json.items.nomenclatura }}",
            "fecha_publicacion": "={{ $json.items.fecha_publicacion ? new Date($json.items.fecha_publicacion.split(' ')[0].split('/').reverse().join('-') + 'T' + ($json.items.fecha_publicacion.split(' ')[1] || '00:00') + ':00').toISOString() : null }}",
            "reiniciado_desde": "={{ $json.items.reiniciado_desde }}",
            "objeto_de_contratacion": "={{ $json.items.objeto_de_contratacion }}",
            "descripcion": "={{ $json.items.descripcion }}",
            "codigo_cui": "={{ $json.items.codigo_cui }}",
            "monto": "={{ $json.items.monto }}",
            "moneda": "={{ $json.items.moneda }}",
            "version_seace": "={{ $json.items.version_seace }}",
            "codigo_snip": "={{ $json.items.codigo_snip }}",
            "departamento": "={{ $json.meta.filtros_aplicados.departamento }}",
            "scraped_at": "={{ $json.meta.scraped_at }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nomenclatura",
              "displayName": "nomenclatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entidad",
              "displayName": "entidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_publicacion",
              "displayName": "fecha_publicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "reiniciado_desde",
              "displayName": "reiniciado_desde",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objeto_de_contratacion",
              "displayName": "objeto_de_contratacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "codigo_snip",
              "displayName": "codigo_snip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "codigo_cui",
              "displayName": "codigo_cui",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "monto",
              "displayName": "monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "moneda",
              "displayName": "moneda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "version_seace",
              "displayName": "version_seace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "departamento",
              "displayName": "departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scraped_at",
              "displayName": "scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        1552
      ],
      "id": "7acef6ff-caa1-4185-bbe7-2a784be7e78c",
      "name": "Licitaciones",
      "credentials": {
        "postgres": {
          "id": "FXEG0dQzOuAcjlhc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "include": "selectedOtherFields",
        "fieldsToInclude": "meta",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -208,
        1760
      ],
      "id": "cb9b574a-e694-4805-a7b5-29872937af65",
      "name": "Split Out Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items.ficha.cronograma",
        "include": "selectedOtherFields",
        "fieldsToInclude": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1136,
        1296
      ],
      "id": "9d1a67fa-bf49-4988-8f2f-2719737d1577",
      "name": "Split Out Cronograma"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cronograma",
          "mode": "list",
          "cachedResultName": "cronograma"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "licitacion_id": "={{ $json.id }}",
            "etapa": "={{ $json['items.ficha.cronograma'].Etapa }}",
            "lugar": "={{ $json['items.ficha.cronograma'].Lugar }}",
            "fecha_inicio": "={{ $json['items.ficha.cronograma']['Fecha Inicio'] }}",
            "fecha_fin": "={{ $json['items.ficha.cronograma']['Fecha Fin'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "licitacion_id",
              "displayName": "licitacion_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "etapa",
              "displayName": "etapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lugar",
              "displayName": "lugar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_inicio",
              "displayName": "fecha_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_fin",
              "displayName": "fecha_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        1296
      ],
      "id": "abbfa544-041a-4d22-b979-c8e855898648",
      "name": "Cronogramas",
      "credentials": {
        "postgres": {
          "id": "FXEG0dQzOuAcjlhc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68930f7e-de43-4707-8888-c0b573e6b2b7",
              "name": "items",
              "value": "={{ $('Split Out Items').item.json.items }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        1552
      ],
      "id": "72aabd9e-7d16-439c-86a6-562c0a974fdf",
      "name": "Map Id to Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items.ficha.documentos",
        "include": "selectedOtherFields",
        "fieldsToInclude": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1136,
        1488
      ],
      "id": "8a9ec26f-14e7-4576-940d-18c8d4d0305e",
      "name": "Split Out Documentos"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documentos",
          "mode": "list",
          "cachedResultName": "documentos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "licitacion_id": "={{ $json.id }}",
            "nro": "={{ $json['items.ficha.documentos'].Nro }}",
            "etapa": "={{ $json['items.ficha.documentos'].Etapa }}",
            "documento": "={{ $json['items.ficha.documentos'].Documento }}",
            "uuid": "={{ $json['items.ficha.documentos'].Archivo.uuid }}",
            "filename": "={{ $json['items.ficha.documentos'].Archivo.filename }}",
            "tamanio": "={{ $json['items.ficha.documentos'].Archivo.tamanio }}",
            "local_path": "={{ $json['items.ficha.documentos'].Archivo.local_path }}",
            "fecha_publicacion": "={{ $json['items.ficha.documentos']['Fecha de publicación'] }}",
            "file_size_mb": "={{ $json['items.ficha.documentos'].Archivo.fileSizeMB }}",
            "page_count": "={{ $json['items.ficha.documentos'].Archivo.pageCount }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "licitacion_id",
              "displayName": "licitacion_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nro",
              "displayName": "nro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "etapa",
              "displayName": "etapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "documento",
              "displayName": "documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tamanio",
              "displayName": "tamanio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "local_path",
              "displayName": "local_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_publicacion",
              "displayName": "fecha_publicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "page_count",
              "displayName": "page_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_size_mb",
              "displayName": "file_size_mb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        1488
      ],
      "id": "c9b31f08-1e32-402a-9c27-ee3522cd6b40",
      "name": "Documentos",
      "credentials": {
        "postgres": {
          "id": "FXEG0dQzOuAcjlhc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa979d58-3e1e-424f-a05e-c65ddf086e73",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        1760
      ],
      "id": "72531105-bf2c-43b1-acd9-bbb835695450",
      "name": "New Item?"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "convocatoria",
          "mode": "list",
          "cachedResultName": "convocatoria"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "licitacion_id": "={{ $json.id }}",
            "nomenclatura": "={{ $json.items.ficha.convocatoria.Nomenclatura }}",
            "n_convocatoria": "={{ $json.items.ficha.convocatoria['N° Convocatoria'] }}",
            "tipo_compra": "={{ $json.items.ficha.convocatoria['Tipo Compra o Selección'] }}",
            "normativa": "={{ $json.items.ficha.convocatoria['Normativa Aplicable'] }}",
            "version_seace": "={{ $json.items.ficha.convocatoria['Versión SEACE'] }}",
            "entidad_convocante": "={{ $json.items.ficha.convocatoria['Entidad Convocante'] }}",
            "direccion_legal": "={{ $json.items.ficha.convocatoria['Direccion Legal'] }}",
            "pagina_web": "={{ $json.items.ficha.convocatoria['Pagina Web'] }}",
            "telefono": "={{ $json.items.ficha.convocatoria['Télefono de la Entidad'] }}",
            "objeto_contratacion": "={{ $json.items.ficha.convocatoria['Objeto de Contratación'] }}",
            "descripcion_objeto": "={{ $json.items.ficha.convocatoria['Descripción del Objeto'] }}",
            "monto": "={{ $json.items.ficha.convocatoria['VR / VE / Cuantía de la contratación'] }}",
            "fecha_publicacion": "={{ $json.items.ficha.convocatoria['Fecha y Hora Publicación'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "licitacion_id",
              "displayName": "licitacion_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nomenclatura",
              "displayName": "nomenclatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_convocatoria",
              "displayName": "n_convocatoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_compra",
              "displayName": "tipo_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "normativa",
              "displayName": "normativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "version_seace",
              "displayName": "version_seace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entidad_convocante",
              "displayName": "entidad_convocante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direccion_legal",
              "displayName": "direccion_legal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pagina_web",
              "displayName": "pagina_web",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objeto_contratacion",
              "displayName": "objeto_contratacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion_objeto",
              "displayName": "descripcion_objeto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "monto",
              "displayName": "monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_publicacion",
              "displayName": "fecha_publicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        1680
      ],
      "id": "1e778a88-d84a-4644-8b0b-1c01cb544c86",
      "name": "Convocatoria",
      "credentials": {
        "postgres": {
          "id": "FXEG0dQzOuAcjlhc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items.ficha.entidad_contratante",
        "include": "selectedOtherFields",
        "fieldsToInclude": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1136,
        1872
      ],
      "id": "40530820-9af8-4c46-a0ef-4493c6e9a484",
      "name": "Split Out Entidad Contratante"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "entidad_contratante",
          "mode": "list",
          "cachedResultName": "entidad_contratante"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "licitacion_id": "={{ $json.id }}",
            "ruc": "={{ $json['items.ficha.entidad_contratante']['N° Ruc'] }}",
            "entidad": "={{ $json['items.ficha.entidad_contratante']['Entidad Contratante'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "licitacion_id",
              "displayName": "licitacion_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ruc",
              "displayName": "ruc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entidad",
              "displayName": "entidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        1872
      ],
      "id": "8f647737-9c34-43ef-af25-60cb31884f44",
      "name": "Entidad Contratante",
      "credentials": {
        "postgres": {
          "id": "FXEG0dQzOuAcjlhc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE licitaciones, cronograma, documentos, convocatoria, entidad_contratante RESTART IDENTITY CASCADE",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -656,
        1072
      ],
      "id": "a498b8c0-9700-4e36-9edc-3a8f932317fd",
      "name": "TRUNCATE TABLES",
      "credentials": {
        "postgres": {
          "id": "FXEG0dQzOuAcjlhc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM documentos\nWHERE licitacion_id = $1",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1584,
        2016
      ],
      "id": "db931916-72f3-4e7c-9e74-d06098a75608",
      "name": "Retrieve Documents",
      "credentials": {
        "postgres": {
          "id": "FXEG0dQzOuAcjlhc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/pdf/base64",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "filePath",
              "value": "={{ $json.local_path }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2240,
        1760
      ],
      "id": "02de6ad2-ca24-4ea9-8a85-bf747ad03b45",
      "name": "To base64",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lJg8RtYDBCEkuBx2",
          "name": "Header Auth Mathpix 1"
        },
        "httpBearerAuth": {
          "id": "FiAfSOTobDKZxBil",
          "name": "Seace Monitor Bearer"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0946677a-fe73-47a4-85a9-a8aa275fc0fb",
              "leftValue": "={{ $json.etapa }}",
              "rightValue": "Convocatoria",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "82d719e7-6ed0-4adf-9e6e-0a606f686139",
              "leftValue": "={{ $json.documento }}",
              "rightValue": "Bases Administrativas",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a7379bfe-19a1-4c47-84f9-d6b29d90cadb",
              "leftValue": "={{ $json.filename }}",
              "rightValue": ".pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "id": "7c9f46f4-1261-4cf7-a82b-2394c1a18422",
              "leftValue": "={{ Number($json.file_size_mb) }}",
              "rightValue": 25,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "49258d3b-fa47-476f-93cf-728e1b335ee1",
              "leftValue": "={{ $json.page_count }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2032,
        1760
      ],
      "id": "006724bf-b3bb-43d5-af29-e3bd7946ac45",
      "name": "Filter"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $json;\nconst textBlock = response.content?.find(b => b.type === 'text');\n\nif (!textBlock) {\n  return {\n    json: {\n      licitacion_id: $(\"Filter\").item.json.licitacion_id,\n      documento_uuid: $(\"Filter\").item.json.uuid,\n      analisis: null,\n      error: 'No text block in response',\n      stop_reason: response.stop_reason,\n      input_tokens: response.usage?.input_tokens\n    }\n  };\n}\n\nlet analisis = null;\nlet parseError = null;\n\ntry {\n  const clean = textBlock.text.replace(/```json|```/g, '').trim();\n  analisis = JSON.parse(clean);\n} catch (e) {\n  parseError = e.message;\n}\n\nreturn {\n  json: {\n    licitacion_id: $(\"Filter\").item.json.licitacion_id,\n    documento_uuid: $(\"Filter\").item.json.uuid,\n    analisis,\n    stop_reason: response.stop_reason,\n    input_tokens: response.usage?.input_tokens,\n    output_tokens: response.usage?.output_tokens,\n    truncated: response.stop_reason === 'max_tokens',\n    parse_error: parseError\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        1760
      ],
      "id": "9dc8a5d0-bed7-4a72-ae33-a067f3981c0b",
      "name": "Format Answer"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM licitaciones\nWHERE nomenclatura = $1\n  AND entidad = $2\n  AND fecha_publicacion = $3 \nUNION ALL \nSELECT NULL WHERE NOT EXISTS (\n  SELECT 1 FROM licitaciones \n  WHERE nomenclatura = $1\n    AND entidad = $2\n    AND fecha_publicacion = $3 \n)",
        "options": {
          "queryReplacement": "={{ $json.items.nomenclatura }}, {{ $json.items.entidad }}, {{ $json.items.fecha_publicacion ? new Date($json.items.fecha_publicacion.split(' ')[0].split('/').reverse().join('-') + 'T' + ($json.items.fecha_publicacion.split(' ')[1] || '00:00') + ':00').toISOString() : null }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        1680
      ],
      "id": "c9e14d63-160e-4697-aff3-def125afb887",
      "name": "Get ID of existing Items",
      "credentials": {
        "postgres": {
          "id": "FXEG0dQzOuAcjlhc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Agrupar por licitacion_id\nconst grupos = {};\nfor (const item of items) {\n  const id = item.json.licitacion_id;\n  if (!grupos[id]) grupos[id] = [];\n  grupos[id].push(item.json);\n}\n\n// Consolidar cada grupo\nconst resultado = [];\nfor (const [licitacion_id, documentos] of Object.entries(grupos)) {\n  resultado.push({\n    json: {\n      licitacion_id: parseInt(licitacion_id),\n      documentos_analizados: documentos.length,\n      truncated: documentos.some(d => d.truncated),\n      total_input_tokens: documentos.reduce((sum, d) => sum + (d.input_tokens || 0), 0),\n      total_output_tokens: documentos.reduce((sum, d) => sum + (d.output_tokens || 0), 0),\n      tipo_documento: documentos.map(d => d.analisis?.tipo_documento).filter(Boolean).join(', '),\n      valor_referencial: documentos.map(d => d.analisis?.valor_referencial).find(v => v?.monto !== null) ?? null,\n      plazo_ejecucion: documentos.map(d => d.analisis?.plazo_ejecucion).find(v => v?.dias !== null) ?? null,\n      experiencia_requerida: documentos.map(d => d.analisis?.experiencia_requerida).find(v => v?.monto_minimo !== null || v?.anios !== null) ?? null,\n      requisitos_habilitacion: documentos.map(d => d.analisis?.requisitos_habilitacion).find(v => v?.valor !== null) ?? null,\n      resumen_ejecutivo: documentos.map(d => d.analisis?.resumen_ejecutivo).filter(Boolean).join(' | ')\n    }\n  });\n}\n\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1760
      ],
      "id": "cc50225c-fac9-475e-96ba-0d111de73c5e",
      "name": "Group by Licitacion"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 4,
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1584,
        1552
      ],
      "id": "370c9499-b0cb-46a6-8530-fa63700f063e",
      "name": "Wait All, Return Documentos"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1808,
        1760
      ],
      "id": "55cf5cdd-5f12-4db5-a017-e9032232de14",
      "name": "Merge Documents"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        1760
      ],
      "id": "d8ca8058-7129-4613-be17-969424ad416a",
      "name": "Attach Existing IDs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/seace/export",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"departamento\": \"LA LIBERTAD\",\n  \"objeto\": \"Obra\",\n  \"anio\": \"2026\",\n  \"fecha_desde\": \"{{ $now.minus(7, 'day').toFormat('yyyy-MM-dd') }}\"\n}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -432,
        1760
      ],
      "id": "f840612b-7446-49af-ad5b-4a897dda75f5",
      "name": "Fetch SEACE Page Data",
      "credentials": {
        "httpBearerAuth": {
          "id": "FiAfSOTobDKZxBil",
          "name": "Seace Monitor Bearer"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 8192,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"document\",\n          \"source\": {\n            \"type\": \"base64\",\n            \"media_type\": \"application/pdf\",\n            \"data\": \"{{ $json.base64 }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Eres un analista experto en contrataciones del Estado peruano especializado en documentos SEACE.\\n\\nExtrae información de este documento y responde ÚNICAMENTE con el siguiente JSON, sin texto adicional, sin markdown, sin bloques de código:\\n\\n{\\\"tipo_documento\\\": \\\"\\\", \\\"requisitos_habilitacion\\\": {\\\"valor\\\": null, \\\"texto_original\\\": null}, \\\"experiencia_requerida\\\": {\\\"anios\\\": null, \\\"monto_minimo\\\": null, \\\"texto_original\\\": null}, \\\"plazo_ejecucion\\\": {\\\"dias\\\": null, \\\"texto_original\\\": null}, \\\"valor_referencial\\\": {\\\"monto\\\": null, \\\"incluye_igv\\\": null, \\\"texto_original\\\": null}, \\\"resumen_ejecutivo\\\": null}\\n\\nREGLAS ESTRICTAS:\\n1. Responde SOLO con el JSON. Cero texto antes o después.\\n2. USA EXACTAMENTE los campos del JSON. No agregues ni elimines campos.\\n3. Si un campo no existe en el documento → null.\\n4. texto_original: cita textual exacta del documento. Si no encuentras el dato → null.\\n5. monto_minimo y monto: número sin formato. S/ 1'250,000.00 → 1250000.00\\n6. plazo_ejecucion.dias: solo el número entero de días calendario.\\n7. incluye_igv: true si el documento indica que incluye IGV, false si indica que no incluye, null si no se menciona.\\n8. tipo_documento: describe brevemente qué tipo de documento es (ej: 'Bases Administrativas', 'Informe de Declaratoria de Desierto', 'Convocatoria').\\n9. resumen_ejecutivo: máximo 3 oraciones describiendo el objeto, entidad y estado del proceso.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 30000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2464,
        1760
      ],
      "id": "c97de7e4-6fbf-4fea-ab35-bbe19a34629f",
      "name": "Extract SEACE Fields",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0l26ZO3pjaiy047g",
          "name": "Header Auth Claude"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch SEACE Page Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Licitaciones": {
      "main": [
        [
          {
            "node": "Map Id to Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Items": {
      "main": [
        [
          {
            "node": "Get ID of existing Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attach Existing IDs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out Cronograma": {
      "main": [
        [
          {
            "node": "Cronogramas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Id to Items": {
      "main": [
        [
          {
            "node": "Split Out Documentos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Cronograma",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convocatoria",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Entidad Contratante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Documentos": {
      "main": [
        [
          {
            "node": "Documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Item?": {
      "main": [
        [
          {
            "node": "Licitaciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retrieve Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Entidad Contratante": {
      "main": [
        [
          {
            "node": "Entidad Contratante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cronogramas": {
      "main": [
        [
          {
            "node": "Wait All, Return Documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Documentos": {
      "main": [
        [
          {
            "node": "Wait All, Return Documentos",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convocatoria": {
      "main": [
        [
          {
            "node": "Wait All, Return Documentos",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Entidad Contratante": {
      "main": [
        [
          {
            "node": "Wait All, Return Documentos",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "main": [
        [
          {
            "node": "Merge Documents",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Extract SEACE Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Answer": {
      "main": [
        [
          {
            "node": "Group by Licitacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ID of existing Items": {
      "main": [
        [
          {
            "node": "Attach Existing IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait All, Return Documentos": {
      "main": [
        [
          {
            "node": "Merge Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Documents": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Existing IDs": {
      "main": [
        [
          {
            "node": "New Item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch SEACE Page Data": {
      "main": [
        [
          {
            "node": "Split Out Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SEACE Fields": {
      "main": [
        [
          {
            "node": "Format Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cff73d67-018e-4ab4-9e8c-7d0934a1e44a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19b5c45878e0c37a2dfdebb10fe6ad07185f82630e5b3f64f267192bd053cf0b"
  },
  "id": "dRcli8JjrQZ_O7ca570Ow",
  "tags": []
}